<div class="container" ng-init="init();">
    <div class="page-header">
        <h3 class="blue">Discover Providers</h3>
    </div>
    <ol class="breadcrumb" ng-show="$root.user.token">
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-home"></span>
                &nbsp;Home
            </a>
        </li>
        <li><a href="#/facilities">Discover Providers</a></li>
        <li class="active"><b ng-bind="search.location.zip"></b></li>
    </ol>
    <div class="row" ng-show="$root.user.token">
        <div class="col-md-4">
            <div class="well">
                <p class="strong">
                    <span class="glyphicon glyphicon-search"></span>&nbsp;
                    Advanced Search
                </p>
                <div class="map-holder">
                    <leaflet class="map" center="center" width="100%" height="130px"></leaflet>
                </div>
                <p></p>
                <form class="form-inline form-search" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="searchloc"></label>
                        <input type="text" maxlength="5" class="form-control" id="searchloc" ng-model="search.location.zip" placeholder="Enter your zip code...">
                    </div>
                    <button ng-click="onUpdateZip();" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <img id="img-search-loader" ng-src="images/ajax-loader.gif">
                    <p></p>
                    <label>
                        <input ng-model="search.do_proximity_search" type="checkbox">
                        Enable Proximity Search                       
                    </label>
                    <select ng-disabled="!search.do_proximity_search" ng-model="search.location.distance" class="form-control">
                        <option value="5">5 miles</option>
                        <option value="10">10 miles</option>
                        <option value="50">50 miles</option>
                        <option value="100">100 miles</option>
                    </select>
                    <p></p>
                    <label>Insurance Coverage</label>
                    <select class="form-control" ng-model="search.provider" ng-options="ins.id as ins.title for ins in insurances">
                    </select>
                    <p></p>
                    <label>Available Beds</label>
                    <select ng-model="search.beds" class="form-control">
                        <option value="">Not important</option>
                        <option value="beds_skilled">Skilled Beds</option>
                        <option value="beds_medicaid">Medicaid Beds</option>
                        <option value="beds_medicaid_pending">Medicaid Pending</option>
                        <option value="beds_charity">Charity</option>
                    </select>
                    <p></p>
                    <label>Search Doctor's &amp; Personnel</label>
                    <input type="text" maxlength="20" class="form-control" ng-model="search.staff" placeholder="Enter a Doctor's name...">
                    <p></p>
                    <label>Services</label>
                    <br>
                    <ul class="list-unstyled">
                        <li ng-repeat="srv in services">
                            <label>
                                <input ng-model="search.services[srv.id]" type="checkbox" ng-click="onToggleService($event, srv);">
                                <span class="lbl">{{srv.title}}</span>
                            </label>
                        </li>
                    </ul>
                    <button ng-click="onUpdateZip();" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-search"></span>
                        &nbsp;Update Search
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-8 no-results" ng-show="!facilities">
            <div class="alert alert-warning fade in">
                <strong>No Providers Found!</strong>&nbsp;
                Sorry, but we could not locate a facility with the criteria you provided.
            </div>
        </div>
        <div class="col-md-8">
            <div class="row search-results" ng-hide="!facilities">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Found
                    <span class="strong">{{facilities.length}}</span> providers near <b>{{search.location.zip}}</b>.
                </div>
            </div>
            <div itemscope="" itemtype="http://schema.org/LocalBusiness" class="row row-listing" ng-repeat="loc in facilities">
                <div class="col-md-3 listing-image">
                    <a href="#/facility/{{loc.id}}" title="{{loc.title}}" class="">
                        <img ng-src="{{loc.image_main}}" err-src="http://placehold.it/150x100" alt="{{loc.title}}" class="img-thumbnail">
                    </a>
                    <hr class="ghost">
                    <cbchoices choice="{{loc.id}}"></cbchoices>
                </div>
                <div class="col-md-9 listing-body">
                    <p class="lead-small">
                        <a href="#/provider/{{loc.id}}" class="">
                            <span itemprop="name">{{loc.title}}</span>
                        </a>
                        &nbsp;
                        <span ng-show="loc.claimed" class="label label-warning label-verified">
                            <span class="glyphicon glyphicon-ok-circle"></span> verified
                        </span>
                    </p>
                    <div class="text-muted">
                        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">{{loc.address_a}}</span>
                            &nbsp;-
                            &nbsp;<span itemprop="addressLocality">{{loc.city}}</span>,
                            &nbsp;<span itemprop="addressRegion">{{loc.state}}</span>
                            &nbsp;<span itemprop="postalCode">{{loc.zip}}</span>
                        </div>
                        <div class="holder-shared">
                            <span ng-repeat="service in loc.services|slice:0:5" class="label label-danger">
                                {{service.title}}
                            </span>
                        </div>
                        <div class="holder-shared">
                            <span ng-repeat="provider in loc.providers|slice:0:5" class="label label-default">
                                {{provider.title}}
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-xs btn-default disabled">
                        Total Beds: <b>{{loc.beds_open}}</b>
                    </button>
                    <a href="#/performance/{{loc.id}}" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        &nbsp;Performance
                    </a>
                    <div class="btn-group hidden">
                        <button class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;{{loc.phone_a}}
                        </button>
                        <button ng-click="onViewMap(loc);" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </button>
                        <button class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Placement
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-map">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="map-holder">
                        <leaflet class="map" center="center" width="528" height="300px"></leaflet>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>