<div class="container" ng-init="init();">
    <div class="page-header">
        <h3 class="text-danger">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
            Incompatible Browser            
        </h3>
    </div>
    <p>
        We're sorry, but your browser does not support one of the specs required for this application to run.<br>
        The browser specs required are listed below:
    </p>
    <ul class="text-danger">
        <li>JavaScript Cookies Enabled</li>
        <li>DOM storage (localStorage) Compatible</li>
        <li>HTML5 Support</li>
        <li><b>Supported browsers</b>: IE7 or greater, Chrome, Opera, Safari or Firefox</li>
    </ul>
</div>
<div class="spacer"></div>